.btnDefault {
    color: black;
}

.sapUiForm .sapUiCompGroupElementVBox .sapMLabel:after {
    content: "";
}

.sapMBtnInner {
    color: black;
}

.customTitleClass {
    font-size: 4rem;
    /* ou o tamanho desejado em unidades que você preferir */
}